body{
    background-color: rgb(244, 232, 255);
    margin: auto 150px auto 150px;
    text-align: center;
    font-family: "Roboto", sans-serif;
}
header img{
    width: 280px;
    margin: auto;
    padding-bottom: 30px;
}
main div{
    text-align:initial;
    font-size: 14px;
    background-color: rgba(120, 75, 220);
    color: rgb(240, 241, 255);
    border-radius: 8px;
    margin: 40px auto;
    padding: 32px;
    width: 650px;
}
h1{
    font-size: 48px;
    font-weight:bolder;
    color: rgb(90, 50, 196);
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
li{
    margin: 14px 0;
    padding-left: 12px;
    border-left: 5px solid transparent;
}
a{
    background-color: rgb(244, 236, 160);
    border-radius: 3px;
    padding: 2px 5px;
    text-decoration: none;
    color: rgb(37, 3, 108);
}
a:hover,
a:active{
    background-color: rgb(250, 201, 40);
}
footer{
    text-align: center;
    margin-bottom: 100px;
}
footer h5{
    margin-top: 40px;
    font-style:normal;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 120;
    color: rgb(104, 104, 104);
}
.important{
    color: rgb(255, 241, 120);
    border-color: rgb(247, 215, 85);
}
#button{
    color: black;
    background-color: rgb(250, 201, 38);
    color: rgb(58, 44, 2);
    padding: 13px 20px;
    font-size: 15px;
    border-radius: 8px;
    margin: auto;
}
#button:hover, #button:active{
    background-color: rgb(250, 188, 69);
}